@use './assets/styles/colors.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: $background-3;
    font-size: 1.4rem;


    * {
        box-sizing: border-box;
        font-family: 'Poor Story', system-ui;
    }
}

.red
{
    background-color: red !important;
}